header{
  padding: 20px;
  border-bottom: 1px gray solid;
}
header img{
  /* display: inline-block; */
  float: right;
  height: 100px;
}
nav{
  width:200px;
  height:600px;
  float:left;
  border-right: 1px gray solid;
  padding:10px;
}
nav ol{
  list-style: none;
}
article{
  float:left;
  padding: 10px;
}
h2{
  font-size: 30px;
}

#bg_color{
  float: right;
  border : solid 1px gray;
  padding:3px;
  margin:10px;
}

body.white{
  background-color: white;
  color:black;
}
body.black{
  background-color: black;
  color:white;
}
